FLASK_SECRET_KEY=change-me-to-something-random
BTC_NETWORK=testnet
ESCROW_XPRV=vprv9DMUxX4ShgxML6zNhDRoQFTNBAFuK7HvEsP3752pkbVmzj4KXtdGDwZigtHhtLYJ5LcZKe2i9eb8eM5tYRdKAjGZX9Uyw5MRbwJFbW6ztDZ
COMMISSION_PERCENT=2.5
REQUIRED_CONFIRMATIONS=1
