FLASK_SECRET_KEY=change-me-to-something-random
BTC_NETWORK=testnet4
ESCROW_XPRV=vprv9DMUxX4ShgxMM4qR6xMSrcA2zkFcKM55yu6no7fTYJ1rD1QBjPaUNRvThL1LkNiViGUi6VkbzSbCzTKQr5rheq9rHP1pEo7hEUW6teBxnRK
COMMISSION_PERCENT=2.5
REQUIRED_CONFIRMATIONS=1
